.header > .logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  

  img {
    height: 32px;
  }

  span {
    font-size: 1.25rem;
    font-weight: 600;
  }
}

.header > app-search-bar {
  min-width: 30em;
}
.header {
  background-color: rgb(2, 62, 138);
  border-bottom: 1px solid #e5e7eb;
  padding: 1rem;
  position: fixed; /* Se mantiene fija en la pantalla */
  top: 0; /* Se ancla en la parte superior */
  left: 0;
  width: calc(100% - 1rem); /* Ocupar todo el ancho */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  
}
