<div class="profile-container">
    <div class="profile-header">
      <img src="assets/background-register.svg" alt="Profile Background" class="profile-background">
    </div>
  
    <div class="profile-card">
      <img src="assets/profile-pic.jpg" alt="Profile Picture" class="profile-picture">
      <h2>Cositorto</h2>
      <div class="profile-stats">
        <div>
          <span>65</span>
          <p>Seguidores</p>
        </div>
        <div>
          <span>80</span>
          <p>Reseñas</p>
        </div>
        <div>
          <span>10</span>
          <p>Siguiendo</p>
        </div>
      </div>

      <div class="profile-buttons">
        <button class="profile-btn edit-btn">Editar Perfil</button>
        <button class="profile-btn saved-btn">Ver Guardados</button>
      </div>
    </div>
</div>
