<div class="login-container">
    
    <div class="login-left">
      <img src="assets/Discoverit2.png" alt="DiscoverIt Logo" class="logo">

      <p>  Bienvenido de nuevo a DiscoverIt. Nos alegra verte de vuelta. 
        Inicia sesión para continuar explorando, aprendiendo y conectando con nuevas oportunidades. 
        Accede a tus experiencias personalizadas, mantente al tanto de tus favoritos y sigue descubriendo lo que te apasiona. 
        ¡Todo lo que necesitas está a solo un clic de distancia!</p>
      
    </div>
  
    <div class="login-right">
      <form>
        <label for="email">Email</label>
        <input type="email" id="email" placeholder="Ingrese su mail aqui...">
  
        <label for="password">Contraseña</label>
        <input type="password" id="password" placeholder="Ingrese su contraseña aqui...">
  
        <button type="submit">Iniciar sesion</button>
      </form>
    </div>
  </div>
  